<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<environments default="development">
		<environment id="development">
		<!--<transactionManager type="JDBC" />  INDICA CHE LA GESTIONE DELLE TRANSAZIONI E' AFFIDATA ALL'UTENTE -->
			<transactionManager type="MANAGED" />
			<!-- <dataSource type="POOLED">  INDICA CHE VANNO SPECIFICATE LE PROPRIETA' COME USERNAME E PASSWORD-->
			<dataSource type="JNDI">
				<property name="data_source" value="java:/exobank" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="utente.xml" />
		<mapper resource="contoCorrente.xml" />
		<mapper resource="transazione.xml" />
		<mapper resource="tipoTransazione.xml" />
		<mapper resource="statoContoCorrente.xml" />
		<mapper resource="statoTransazione.xml" />

	</mappers>
</configuration>

